<div class="container">
    <h1 class="padded-bottom">Cocktail Manager</h1>

    <div class="row">
        <ul>
          <% @cocktails.each do |c|  %>
              <li><%= link_to c.name, cocktail_path(c) %></li>
          <% end  %>
        </ul>
      </div>

    <%= link_to "Add a new cocktail", new_cocktail_path  %>
</div>
