<div class="container flex-row-center">
  <div class="padded text-center half-page-width">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.button :submit %>
      <% end %>
  </div>
</div>
